<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Event Name</th>
            <th scope="col">Event description</th>
            <th scope="col">Likes</th>
            <th scope="col">Actions</th>
        </tr>
  </thead>
  <tbody>
      {{#events}}
      <tr>
          <td>{{ title }}</td>
          <td>{{ description }}</td>
          <td>{{ likes }}</td>
          <td>
              <button type="button" class="btn btn-link">remove</button>
              <form action="/like" method="post">
                    <input type="hidden" id="eventId" name="eventId" value="{{ id }}">
                  <button type="submit" class="btn btn-link">like</button>
              </form>
              
          </td>
      </tr>
      {{/events}}
  </tbody>
</table>

